body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1, h2 {
    color: darkred;
}

label {
    font-weight: bold;
}

select {
    padding: 5px;
    margin-bottom: 15px;
}

canvas {
    width: 80% !important;
    max-width: 700px;
    margin-top: 20px;
}
