body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  height: 80vh;
  width: 100%;
}

/* Style the legend */
#legend {
  background: white;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #555;
  border-radius: 5px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  box-shadow: 0px 0px 5px #999;
}

.legend-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

/* Controls Styling */
#controls {
  padding: 10px;
  background: white;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  box-shadow: 0px 0px 5px #999;
  border-radius: 5px;
}

#controls label, #controls select {
  margin: 5px 10px;
  display: block;
}
